.hero{
    display: flex;
    flex-direction: column;
    // justify-content: start;
    // align-items: center;
    gap: 2rem;
    text-align: center;
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 2rem;
    }
}