.navbar{
    background-color: #335249d1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 1.5rem 0;
    transition: all 0.5s ease-in-out;
    .container{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo{
            width: 3rem;
            text-align: center;
            font-size: 2rem;
            padding: 8px 0;
            color: black;
            background-color: #fff;
            transition: color 0.3s ease-in-out;
        }
        .containerNavbar__right{
            display: flex;
            gap: 1rem;
            a:first-child{
                display: none;
            }
        }
        .list__container{
            display: none;
            gap: 1rem;
            .item__list{
                font-size: 1.4rem;
                padding: 0 1rem;
                a{
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: #8cc3b3;
                    }
                }
            }
        }
        .toggleButton{
            background-color: #fff;
            padding: 0.5rem;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .hamburguer__menu{
            display: flex;
            align-items: center;
            .list__hamburguer{
                background-color: #335249d1;
                color: #fff;
                font-size: 1.3rem;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 5.28rem;
                left: 0;
                right: 0;
                transition: all 0.5s ease-in-out;
                li{
                    padding: 1rem 0;
                    text-align: center;
                    a{
                        cursor:default;
                    }
                }
            }
            .list__hamburguer__night{
                @extend .list__hamburguer;
                background-color: rgb(36,37,38, 0.9);
            }
        }
    }
}
.navbar__night{
    @extend .navbar;
    background-color: rgb(36,37,38, 0.9);
}

@media screen and (min-width: 900px) {
   .navbar{
    .container{
        max-width: 1200px;
        margin: auto;
        .logo:hover{
            color: #8cc3b3;
            cursor: pointer;
        }
        .containerNavbar__right{
            a:first-child{
                display: flex;
            }
        }
        .list__container{
            display: flex;
            align-items: center;
        }
        
        .hamburguer__menu{
            display: none;
        } 
    }
   }
}